<div class="w-full">
  <h1 class="font-bold text-4xl text-center mb-8 text-gray-custom dark:text-white">What is the best way to learn?</h1>
  <h2 class="font-bold text-xl text-center mb-8 text-gray-custom dark:text-gray-200">Read the error message(s)!</h2>

  <div class="px-8 md:px-24 lg:px-52 flex flex-col justify-center">
    <p class="text-justify text-gray-custom dark:text-white">
      I am a firm believer of learning by doing. Whenever I'm learning something new, I try to follow what the tutorial/documentation do and experience it myself.
      <br /> Some tutorials/documentations (like Rust's <%= link_to "RBE", links[:rbe], class: "text-gray-custom dark:text-gray-light hover:text-gray-500 dark:hover:text-gray-200 underline transition-all duration-200" %>) give you a challenge at the bottom for you to do what you just read on the documentation part, I always try to do it.
      <br /> As you go further, you'll most likely run into an error message or two, <strong>don't stray away from it, this is a very good way of learning! In fact, you should be grateful for error messages.</strong> There are scenarios where you don't see an error message and you'll be left out feeling confused on how to solve the issue.
      <br /> If you see an error message, you could try to solve it by the message itself. Otherwise, your search engine is your best friend!
      <br /> <%= link_to "Red is beautiful", links[:northcoder], target: :_blank, class: "text-white dark:text-white bg-gray-custom hover:bg-gray-500 transition-all duration-250 rounded p-2 w-fit mt-4 block" %>
    </p>
  </div>
</div>
