<div class="w-full">
  <h1 class="font-bold text-4xl text-center mb-8 text-gray-custom dark:text-white">Errors</h1>

  <div data-controller="tabs" data-tabs-active-value="pending" data-tabs-active-class="bg-white text-gray-custom hover:bg-slate-200" data-tabs-inactive-class="text-white hover:text-slate-200">
    <div class="mb-8">
      <button class="mr-8 transition-all duration-250 rounded px-4 py-1 text-lg bg-white text-gray-custom hover:bg-slate-200" data-tabs-target="pendingTab" data-name="pending" data-action="click->tabs#switchTab">Pending (<%= @pending_errors.length %>)</button>
      <button class="transition-all duration-250 rounded px-4 py-1 text-lg text-white hover:text-slate-200" data-tabs-target="acceptedTab" data-name="accepted" data-action="click->tabs#switchTab">Accepted (<%= @accepted_errors.length %>)</button>
    </div>

    <div data-tabs-target="pendingContent">
      <% if @pending_errors.empty? %>
        <h3 class="font-bold text-2xl text-gray-custom dark:text-white mb-8">
          No errors need to be reviewed
        </h3>
      <% else %>
        <h3 class="font-bold text-2xl text-gray-custom dark:text-white mb-8">
          Pending errors
        </h3>
        <%= render partial: "errors/cards", locals: { errors: @pending_errors } %>
      <% end %>
    </div>
    <div class="hidden" data-tabs-target="acceptedContent">
      <% if @accepted_errors.empty? %>
        <h3 class="font-bold text-2xl text-gray-custom dark:text-white mb-8">
          No errors are live
        </h3>
      <% else %>
        <h3 class="font-bold text-2xl text-gray-custom dark:text-white mb-8">
          Accepted errors
        </h3>
        <%= render partial: "errors/cards", locals: { errors: @accepted_errors } %>
      <% end %>
    </div>
  </div>
</div>
