<div class="mx-24 mt-8">
  <div class="text-white w-full mb-24">
    <h1 class="font-bold text-4xl text-center mb-8 text-gray-custom dark:text-white">Add a new resolver</h1>
    <div class="grid grid-cols-2 gap-4 w-full" data-controller="preview-text-editor">
      <%= render partial: "form", locals: { error: @error } %>

      <div class="bg-gray-custom p-8 rounded">
        <p class="font-medium text-gray-custom dark:text-white text-lg">Solution Preview</p>
        <div data-preview-text-editor-target="preview" class="text-gray-custom dark:text-white" style="width: "></div>
      </div>
    </div>
    <p class="mt-4">
      <b>NOTE:</b> Resolvers will not be shown by default, it will have to be approved by an admin first in order to be shown in the app.<br />
      This is done to avoid spam or unwanted content. If you've waited quite a bit of time for your error to be shown in the app,<br />
      <%= link_to "please contact an admin here", links[:bug], class: "text-gray-custom dark:text-gray-light hover:text-gray-500 dark:hover:text-gray-200 underline transition-all duration-200", target: :_blank %>
    </p>
  </div>
</div>
