<div class="w-full">
  <%= link_to "Back", root_path, class: "text-xl text-gray-light hover:text-gray-200 transition-all duration-200" %>
  <%= render partial: "card", locals: { error: @error } %>
</div>
