input#error_query {
  background-image: url("https://cdn-icons.flaticon.com/png/512/3031/premium/3031293.png?token=exp=1645591288~hmac=c5918de04927b6ed0147e974215756c5");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 12px;
}
