input#error_query {
  background-image: url("https://i.pinimg.com/474x/b9/67/82/b96782d0ab0ea492dabcf4a0f00698d2.jpg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position-y: 6px;
  background-position-x: 12px;
}
